*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:420px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 12px 30px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#1e3c72;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    background:#2a5298;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#1e3c72;
}

.balance-box{
    background:#f4f7ff;
    padding:20px;
    border-radius:10px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}

.info{
    margin-top:15px;
    text-align:center;
    color:green;
    font-weight:bold;
}
